body, html {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: AdiHaus;
}

body {
  display: flex;
  background: url("https://assets.codepen.io/6060109/waves.png");
}

.container {
    min-width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
}


.outer-container {
    min-width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
}

#logo {
    margin: 15px auto;
    display: block;
}

#athlete-mobile {
    width: 100%;
    height: 250px;
    background: url("https://assets.codepen.io/6060109/mobile-shoes.jpg") no-repeat right center;
    background-size: cover;
}

@font-face {
  src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.all-container {
    padding: 20px 30px;
}

.text-content-container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

h2 {
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2, p {
  margin: 0;
}

p {
  line-height: 28px;
  margin: 20px 0 40px;
  color: #333333;
}

h2:nth-of-type(1) {
  color: blue;
  font-weight: 400;
  margin-bottom: 10px;
}

h2:nth-of-type(2) {
  color: #423A3A;
}

form {
  display: flex;
}

input[type="text"] {
  width: 75%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
}

input[type="submit"] {
  width: 20%;
  height: 50px;
  box-sizing: border-box;
  background: rgb(124,124,124);
  background: linear-gradient(90deg, rgba(124,124,124,1) 0%, rgba(124,124,124,1) 0%, rgba(43,40,40,1) 100%);
  font-weight: 700;
  font-size: 18px;
  color: white;
}

/* medium screen */

.desktop-image {
  display: none;
}

@media only screen and (min-width: 768px) {

  body {
    background: url("https://assets.codepen.io/6060109/waves.png");
    background-size: cover;
  }

  .all-container {
    width: 50%;
  }
  .text-content-container {
    text-align: left;
  }
  #athlete-mobile {
    display: none;
  }

  #logo {
    margin: 30px 0px 100px;
    display: block;
  }

  .desktop-image {
    display: block;
    width: 50%;
    background: url("https://assets.codepen.io/6060109/shoes.png");
    background-size: cover;
  }

  h2 {
  font-size: 64px;
  }

}
